body{
margin:0;
font-family:sans-serif;
background:#0f172a;
color:white;
}

.join-screen{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.join-box{
background:#1e293b;
padding:40px;
border-radius:20px;
display:flex;
flex-direction:column;
gap:15px;
width:260px;
}

.join-box h1{
text-align:center;
}

.join-box input{
padding:12px;
border:none;
border-radius:10px;
background:#0f172a;
color:white;
}

.join-box button{
padding:12px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-weight:bold;
cursor:pointer;
}

.chat-app{
flex-direction:column;
height:100vh;
}

#chat-window{
flex:1;
overflow:auto;
padding:10px;
}

.input-area{
display:flex;
gap:5px;
padding:10px;
}

.msg-left{
background:#1e293b;
padding:8px;
margin:5px;
border-radius:8px;
}

.msg-right{
background:#22c55e;
padding:8px;
margin:5px;
border-radius:8px;
align-self:flex-end;
}